$green: #7ffaa0;

$main-font-color: black;
$secondary-font-color: white;
$main-bg-color: #f4fff0;
$secondary-bg-color: $green;
$light-color: #fc5656;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	color: $main-font-color;
}

body {
	line-height: 1;
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	background-color: $main-bg-color;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 5rem;
	text-align: center;
	padding: 20px 0;
}

section#homepage {
	display: flex;
	flex-direction: column;

	div.main {
		display: flex;
		align-items: center;

		img {
			max-width: 60%;
			margin: 15px;
			border: 3px solid $green;
			padding: 10px;
			border-radius: 5px;
		}

		div.cta {
			font-size: 3.2rem;
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;

			button {
				box-shadow:inset 0px 1px 0px 0px #caefab;
				background:linear-gradient(to bottom, #77d42a 5%, $green 100%);
				background-color:#77d42a;
				border-radius:6px;
				border:1px solid #268a16;
				display:inline-block;
				cursor:pointer;
				color:#000;
				font-family:Arial;
				font-size:15px;
				font-weight:bold;
				padding:6px 24px;
				text-decoration:none;
				text-shadow:0px 1px 0px #aade7c;
				margin: 20px;
				font-size: 2.4rem;
				width: 20%;

				&:hover {
					background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
					background-color:#5cb811
				}
			}
		}
	}
}

.menu-container {
	display: flex;
	flex-direction: column;

	#menu-nav {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		font-size: 1.8rem;
		border-bottom: 1px solid $light-color;
		padding: 20px;
		width: 100%;
		background-color: $main-bg-color;

		a {
			margin: 0 10px;
			margin-bottom: -20px;
			padding: 20px 0;
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 900px) {
			display: none;
			font-size: 1.6rem;
		}
	}

	h1 {
		text-align: center;
		padding: 20px 0;
	}
}

#menu-nav.sticky {
	background-color: $secondary-bg-color;
}

section#menu {
	display: flex;
	flex-direction: column;
	margin-left: 20px;

	h2 {
		font-weight: bold;
		margin-left: 20px;
		margin-top: 30px;
		text-transform: capitalize;
		text-decoration: underline;
	}

	.item-list {
		display: flex;
		flex-wrap: wrap;
	}

	.food-item {
		border: 1px solid $light-color;
		margin: 20px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		max-width: 400px;
		width: 350px;

		.food-name, .food-desc {
			margin-bottom: 5px;
		}

		.food-name {
			font-weight: 500;
		}

		.food-desc {
			font-size: 1.8rem;
		}

		.food-price {
			font-style: italic;
		}

		@media (max-width: 900px) {
			width: 35%;
		}

		@media (max-width: 650px) {
			width: 80%;
		}
	}

	div span {
		position: relative;
		top: -130px;
	}
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $main-font-color;
	box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.75);
	background-color: $secondary-bg-color;

	#main-nav {
		display: flex;
		margin-right: 30px;

		a {
			color: inherit;
			text-decoration: none;
			margin: 10px 20px;

			&:hover {
				font-weight: 500;
			}
		}

		.nav-active {
			border-bottom: 2px solid $light-color;
		}
	}

	.logo {
		display: flex;
		align-items: center;
		cursor: pointer;

		h2 {
			margin: 25px 50px;
			margin-right: 10px;
			font-size: 4rem;
		}
	}

	@media (max-width: 730px) {
		flex-direction: column;
		
		#main-nav {
			margin-right: 15px;
		}
	}
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
}

section#locations {
	font-size: 2.4rem;
	
	h1 {
		text-align: center;
		padding: 20px 0;
	}

	.location {
		margin: 40px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border-bottom: 2px dashed $light-color;
		padding: 30px;

		.hours h3 {
			font-weight: 500;
			text-decoration: underline;
		}

		address {
			line-height: 1.5;
		}

		ul {
			line-height: 2;

			@media (max-width: 500px) {
				font-size: 2rem;
				line-height: 1.2;

				li {
					margin: 15px;
				}
			}
		}

		&:last-child {
			border-bottom: none;
		}

		@media (max-width: 800px) {
			flex-direction: column;
			align-items: flex-start;
			margin: 0 auto;

			address {
				margin-bottom: 30px;
			}
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	padding: 20px;
	font-size: 1.6rem;
}