html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.menu-container {
	display: flex;
	flex-direction: column;

	#menu-nav {
		display: flex;
		font-size: 1.8rem;
		border-bottom: 1px solid lightgrey;
		padding: 20px;
		width: 100%;
		background-color: white;

		a {
			margin: 0 10px;
			margin-bottom: -20px;
			padding: 20px 0;
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				//border-bottom: 1px solid black;
			}
		}

		@media (max-width: 1310px) {
			display: none;
		}
	}

	h1 {
		font-size: 5rem;
		text-align: center;
		padding: 20px 0;
	}
}

section#menu {
	display: flex;
	flex-direction: column;
	margin-left: 20px;

	h2 {
		font-weight: bold;
		margin-left: 20px;
		margin-top: 30px;
		text-transform: capitalize;
		text-decoration: underline;
	}

	.item-list {
		display: flex;
		flex-wrap: wrap;
	}

	.food-item {
		border: 1px solid lightgrey;
		margin: 20px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 400px;
		width: 350px;

		.food-name, .food-desc {
			margin-bottom: 5px;
		}

		.food-name {
			font-weight: 500;
		}

		.food-price {
			font-style: italic;
		}
	}

	div span {
		position: relative;
		top: -60px;
	}
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	background-color: grey;
}